<div class='preheader'>
  <div class="preheader__container container">
    <div class="ppreheader__col-1>">
      <div class="preheader__location">Екатеринбург</div>
    </div> 
    <div class="ppreheader__col-2>">
      <ul class="preheader__menu">
        <li class="preheader__menu-item">О компании</li>
        <li class="preheader__menu-item">Программа лояльности</li>      
        <li class="preheader__menu-item">Доставка</li>      
        <li class="preheader__menu-item">Отзывы</li>      
        <li class="preheader__menu-item">Контакты</li>      
      </ul>
    </div> 
  </div>
</div>