<footer class='footer'> 
    <div class="container footer__container"> 
        <div class="row"> 
            <div class="footer__about col-lg-3 col-md-6 col-sm-12"> 
                <p>© 1992 — 2020 
                Управляющая компания «Абамет» </p>
                <p><a href="#">Политика конфедициальности</a></p>
                <p><a href="#">Пользовательское соглашение</a></p>
                <div class="footer__social"> 
                    {% include './footer-social.twig' %}
                </div>
            </div> 
            <div class="footer__menu col-lg-6">
                {% include './footer-menu.twig' %}
            </div>
            <div class="footer__contacts col-lg-3 col-md-6 col-sm-12">
                <h3 class="h3">Контакты</h3>
            </div>
        </div>  
        <div class="row">
            <div class="footer__info col-sm-12"> 
                <p>Предложения товаров в интернет-магазине не является публичной офертой.  Договоры купли-продажи товара с посредниками оформляются через отдел продаж ближайшего регионального офиса. </p>
            </div>
        
        </div>
    </div>
</footer>
<script src="./footer.js"></script>